.header {
}

.header__slider {
  position: relative;
  &-item {
    height: 100vh;
    background-image: url(../images/header__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider__button {
  position: absolute;
  top: 40px;
  right: 80px;

  &-next {
    margin-left: 20px;
  }
}

.slider__button button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;

    margin-bottom: 48px;
  }
  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  &-suptitle,
  &-suptext {
    margin-bottom: 5px;
  }
}

.slick-dots li.slick-active {
  background-color: #000;
}
